<header class="site-header">
    <div class="container">
        <a href="/" class="site-header__logo" rel="home">
            <img onerror="http://www.bubbowrap.com/wp-content/themes/bubbowrap-v5/images/jsamuel-logo-2017-dark.png" src="http://www.bubbowrap.com/wp-content/themes/bubbowrap-v5/images/jsamuel-logo-2017-dark.svg" alt="Jeremy Samuel - Front-end Designer" scale="0">
        </a>
        <nav class="site-nav" role="navigation">
            <ul class="site-nav__list">
                {% for item in menu.get_items %} 
                    <li class="site-nav__item">
                        <a href="{{item.get_link}}" class="site-nav__link">{{item.title}}</a>
                    </li>
                {% endfor %}                
            </ul>
        </nav>
    </div>
</header>