.hero {
	grid-column: 2 / 5;
    text-align: center;
	padding: 3rem 0;
	@media (min-width: $screen-md) {
		padding: 6rem 0;
		grid-column: 3 / 4;
    }
    &__intro {
        font-weight: 300;
        font-size: rem(20);
        line-height: 1.75;
    }
}