// ***************************************
//
//   Site Footer
//
// ***************************************

.site-footer {
    font-size: rem(16);
	color: $color-light;
    background: $color-dark;
    grid-column: 1/-1;
    align-items: center;
    justify-items: center;
    text-align: center;
    padding: 4rem 0;
    &__title {
        margin: 1rem 0;
        color: $color-light;
    }
    &__contact {
        list-style: none;
        padding: 0;
        margin-bottom: .5rem;
    }
    &__social {
        list-style: none;
        padding: 0;
    }
    &__social-ico {
        display: inline-block;
    }
    &__copyright {
        font-size: rem(14);
        color: $color-dark-gray;
    }
}