.btn {
    display: inline-block;
    padding: .75rem 1rem;
    font-weight: $font-bold;
    font-size: rem(14);
    color: white;
    line-height: 1rem;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-color: $color-dark;
    background-image: none;
    border: 0;
    white-space: nowrap;
    text-decoration: none;
    border-radius: 5px;
    text-transform: uppercase;
    @media (min-width: $screen-md) {
        font-size: rem(16);
        white-space: inherit;
    }
    &:hover,
    &:focus,
    &.focus {
        text-decoration: none;
        background-color: lighten($color-dark, 10%);
    }

    &:active,
    &.active {
        outline: 0;
    }

    &[disabled] {
        cursor: not-allowed;
        opacity: 2 / 3;
    }

    &--primary {
        background-color: $color-secondary;
        &:hover {
            background-color: saturate($color-secondary, 20%);
        }
    }
    &--secondary {
        background-color: $color-dark-gray;
        &:hover {
            background-color: darken($color-dark-gray, 20%);
        }
    }
}