//main
p {
    margin: 0 0 1rem;
}

a {
    color: $color-secondary;
    transition: $animation-basic;
    &:hover {
        color: saturate($color-secondary, 20%);
        transition: $animation-basic;
    }
}
//headings
html {
    line-height: $line-height + em;
    font-family: $font-family-primary;
    color: $color-primary;
    font-weight: $font-normal;
    -webkit-font-smoothing: antialiased;
    @media (min-width: $screen-md) {
        font-size: $font-size-base + px;
    }
}

h1 { 
    color: $color-dark-gray;
    font-size: calc(#{$h1-font-size} / 1.5);
    line-height: 1;
    font-weight: $font-normal;
    @media (min-width: $screen-md) {
        font-size: $h1-font-size;
    }
}
h2 {
    color: $color-dark-gray;
    font-size: calc(#{$h2-font-size} / 1.5);
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-weight: $font-normal;
    line-height: 1.1em;
    @media (min-width: $screen-md) {
        font-size: $h2-font-size;
    }
}
h3 {
    color: $color-dark-gray;
    font-size: calc(#{$h3-font-size} / 1.25);
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: $font-normal;
    @media (min-width: $screen-md) {
        font-size: $h3-font-size;
    }
}
h4 {
    color: $color-dark-gray;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

//list 
ul, menu, dir {
    margin: 0;
}
//misc

.accent {
    color: $color-secondary;
}