// Variables
// $component-state-property-size

//Global Colors
$color-primary: #777777;
$color-secondary: #d2322d; //red
$color-light: #eeeeee;
$color-dark-gray: darken($color-primary, 15%);
$color-dark: #1a1a1a;

//Fonts
$font: 'Palanquin', Arial, sans-serif;

@function rem($px) {
    @return ($px/$font-size-base) + rem;
}

$font-size-base: 16; 
$font-size-xl: ($font-size-base * 2);
$font-size-lg: ($font-size-base * 1.25);
$font-size-sm: ($font-size-base * .875);
$font-size-xs: ($font-size-base * .75);
$line-height: 1.5;

$font-light: 300;
$font-normal: 400;
$font-bold: 700;

$h1-font-size: rem(40);
$h2-font-size: rem(32);
$h3-font-size: rem(24);
$h4-font-size: rem(20);
$line-height-heading: 1.25;


//Animations

$animation: all .2s ease;

//mq

$screen-xs: 320px;
$screen-sm: 480px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1200px;