@import "base/variables";
@import "partials/hero";
@import "partials/portfolio-grid";
@import "components/post-block";

.hero {
	&__block {
		padding: 1rem 0 4rem;
	}
	&__title {
		@media (min-width: $screen-lg) {
			font-size: 5rem;
			margin: 2rem 0 0;
		}
	}
}
.sub {
	color: $color-primary;
	margin: 1rem 0;
	@media (min-width: $screen-md) {
		margin-bottom: 2rem;
	}
}

picture {
	display: block;
	padding: 1rem 0;
	@media (min-width: $screen-md) {
		padding: 2rem 0;
	}
}