@import "base/variables";
@import "partials/hero";
@import "partials/portfolio-grid";

@import "lib/flickity";

// ***************************************
//
//   Single Portfolio Page
//
// ***************************************

.hero {
	&__block {
		grid-column: 2/span 3;
		padding: 2rem 0;
		.hero--portfolio & {
			text-align: inherit;
			display: grid;
			grid-template-columns: 10fr auto;
			align-items: center;
		}
	}
	&__title {
		margin: 0;
	}
	&__category {
		text-transform: uppercase;
		color: $color-primary;
		letter-spacing: $letter-spacing;
		font-weight: $font-bold;
		font-size: rem(20);
		padding: .25rem;
	}
}

// ***************************************
//   Section
// ***************************************

.project-info {
	display: grid;
	grid-column: 1/ -1;
	padding: 2rem 0;
	grid-template-columns: 1fr;
	grid-column-gap: 3rem;
	@media (min-width: $screen-lg) {
		padding: 6rem 0;
		grid-template-columns:7fr 4fr;
	}
	@media (min-width: $screen-xl) {
		grid-column-gap: 5rem;
	}
}

.project-specs {
	&__item {
		margin-bottom: 2rem;
	}
	&__title {
		text-transform: uppercase;
		margin: 0;
		font-weight: $font-bold;
		display: inline-block;
		letter-spacing: $letter-spacing;
	}
	&__content {
		margin: 0;
	}
}

.project-details {
	&__title {
		margin-top: 0;
	}
}
// ***************************************
//   Page Navigation
// ***************************************

.page-nav {
	grid-column: 1/-1;
	text-align: center;
	padding: 6rem 0;
	border-top: thin solid $color-primary;
}