<footer id="contact" class="site-footer">
    <h3 class="site-footer__title">Get in Touch.</h3>
    <ul class="site-footer__contact">
        <li>954.297.5771</li>
        <li>hello@bubbowrap.com</li>
        <li>
            <ul class="site-footer__social">
                <li class="site-footer__social-ico">
                    <a href="#" target="_blank">
                        <i>in</i>
                    </a>
                </li>
                <li class="site-footer__social-ico">
                    <a href="#" target="_blank">
                        <i>in</i>
                    </a>
                </li>
                <li class="site-footer__social-ico">
                    <a href="#" target="_blank">
                        <i>in</i>
                    </a>
                </li>
                <li class="site-footer__social-ico">
                    <a href="#" target="_blank">
                        <i>in</i>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
        <p>
            <a href="#" class="btn btn--primary" target="_blank">Send me a Message!</a>
        </p>
        <p class="site-footer__copyright">Copyright Jeremy Samuel {{"now"|date('Y')}}. All Rights Reserved.</p>
</footer>