<footer class="site-footer">
    <h3>Get in Touch</h3>
    <p>954.297.5771</p>
    <p>hello@bubbowrap.com</p>
    <ul>
        <a href="#" target="_blank">
            <i>in</li>
        </a>
        <a href="#" target="_blank">
            <i>t</li>
        </a>
        <a href="#" target="_blank">
            <i>c</li>
        </a>
        <a href="#" target="_blank">
            <i>gi</i></li>
        </a>
    </ul>
    <p>
        <a href="#" class="btn btn--primary" target="_blank">Send me a Message!</a>
    </p>
    <p>Copyright Jeremy Samuel {{"now"|date('Y')}}. All Rights Reserved.</p>
</footer>