{% extends "base.twig" %}
{% block hero %}
    <section class="hero">
    	<div class="grid container">
        <div class="hero__block">
            <h1>{{post.post_title}}</h1>
            </div>
        </div>
    </section>
{% endblock %}


{% block content %}
    <div class="c-wysiwyg">
        {{post.content}}
    </div>
{% endblock %}
